<%- include("partials/header") %>
  <!-- Content -->
  <div class="container mx-auto">
    <h1 class="font-signika text-4xl pt-10 pb-8">ABOUT ME</h1>
    <div class="grid grid-cols-2 gap-14 md:gap-20">
      <div class="col-span-2 md:col-span-1">
        <div
          class="bg-white dark:bg-neutral-900 p-5 pb-28 m-6 md:m-12 shadow-lg border border-gray-100 dark:border-neutral-800 hover:rotate-0 transition duration-500 -rotate-6 relative">
          <img src="<%= aboutMeAlbum[aboutMeAlbum.length - 1].imageUrl  %>" alt=""
            class="smooth-edges flex flex-col w-full aspect-square object-cover h-auto" />
          <div class="absolute bottom-0 left-0 right-0 text-center">
            <p class="text-gray-800 dark:text-slate-200 pb-7 h-full text-6xl font-nothingyoucoulddo">me</p>
          </div>
        </div>

      </div>
      <section class="font-normal text-center text-base md:text-start mx-3 col-span-2 md:col-span-1 my-auto">
        <div class="block md:hidden">
          <p class="text-3xl font-serif font-bold mb-6"><%=adminInfo.aboutMeInfo%><span class="animate-wave">👋</span></p>
        </div>
        <p class="hidden md:block text-3xl font-serif font-bold mb-6"><%=adminInfo.aboutMeInfo%>
          <span class="animate-wave">👋</span>
        </p>
        
        <% 
        const paragraphs = adminInfo.bio.split('\n');
        
        // Iterate over each paragraph and render it
        paragraphs.forEach(paragraph => { %>
          <p class="mb-4">
            <%= paragraph %>
          </p>
       <% }); %>
        
      </section>
    </div>
  </div>
  <!-- Footer -->
<%- include("partials/footer") %>
