<%- include("partials/header") %>

  <!-- Banner Section without Background Image -->
  <section class="banner-section relative h-80 md:h-96 flex justify-center items-center sliding-section">

    <!-- Content within the banner section -->
    <div class="text-center">
      <!-- <img src="../dist/assets/JJ_logo.png" style="width: 450px;" alt=""> -->
      <h1 class="text-4xl md:text-8xl font-dancingscript font-bold">Jerry J Photography</h1>
      <p class="font-signika text-m md:text-3xl mt-2">Professional Photographer</p>
    </div>
  </section>

  <!-- Content -->
  <div class="container mx-auto">
    <div id="portfolio-container">
      <section id='highlights' class="portfolio-section text-neutral-700 ">
        <h1 class="font-signika text-3xl pt-10 pb-8">Highlights</h1>
        <div class="swiper tranding-slider">
          <div class="swiper-wrapper">
            <% for(let i=0; i<10; i++) { %>  
              <div class="swiper-slide tranding-slide">
                <a href="<%= images[i].imageUrl %>" data-fancybox data-caption="image <%=i%>" class="tranding-slide-img">
                    <div class="loader-container"><div class="loader"></div></div>
                    <img alt="image-loading" class="hidden" src="<%= images[i].imageUrl %>" onload="imageLoaded(this)" />
                </a>
              </div>            
            <% }; %>
          </div>
          <!-- Add Pagination -->
          <div class="tranding-slider-control flex justify-center mt-20">
            <div class="swiper-button-prev slider-arrow">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </div>
            <div class="swiper-button-next slider-arrow">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <div class="text-center mt-8">
        <button class="send-button">
              <a href="/gallery">
                <p class="send-text">View more</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" class="send-svg ml-4">
                  <path class="path" transform="translate(100 100)" d="M56.8,-23.9C61.7,-3.2,45.7,18.8,26.5,31.7C7.2,44.6,-15.2,48.2,-35.5,36.5C-55.8,24.7,-73.9,-2.6,-67.6,-25.2C-61.3,-47.7,-30.6,-65.6,-2.4,-64.8C25.9,-64.1,51.8,-44.7,56.8,-23.9Z" fill="gray"></path>
                </svg>
              </a>
        </button>
      </div>


      <section id='about-photography' class="second-section relative flex flex-col overflow-hidden mt-20 sliding-section" >
        <div class="about-photography-content pt-10 ml-10 mr-10 pb-10">
          <h1 class="font-signika text-1xl text-neutral-700">WHAT WE DO </h1>
          <h1 class="font-signika text-2xl md:text-4xl pb-10">About Jerry J Photography </h1>
          <div class="about-photography-text md:text-base text-center text-sm">
              <p>This is a paragraph about photography. You can replace this with your actual content. This is a paragraph about photography. You can replace this with your actual content This is a paragraph about photography. You can replace this with your actual content</p>
          </div>
        </div>
        
      </section>
    

      <section id="reviews" class="relative flex flex-col overflow-hidden mt-20 pb-10 sliding-section">
        <h1 class="font-signika text-1xl text-neutral-700">WHAT OTHERS SAY</h1>
        <h1 class="font-signika text-2xl md:text-4xl pb-10">Reviews</h1>
        <div class="flex overflow-x-auto">
          <div class="flex space-x-10 pb-4 mr-4 ml-2">
            <div class="card flex flex-col justify-between">
              <p class=' font-black text-5xl'>"</p>
              <p class='tracking-wider text-sm mt-1 overflow-hidden'>This is a paragraph about photography. You can replace this with your actual content.</p>
              <div class='mt-1'>
                <p class='font-medium text-m mb-auto'>
                  <span class='blue-text-gradient' style="color: rgb(51, 51, 218);"><i>@</i></span> Abdurrahman Idris
                </p>
              </div>
            </div>
            <div class="card"></div>
            <div class="card "></div>
            <div class="card "></div>
            <div class="card "></div>
          </div>
        </div>
      </section>

      <section id='get-in-touch' class="second-section relative flex flex-col overflow-hidden mt-20 sliding-section" >
        <div class="about-photography-content pt-10 ml-10 mr-10 pb-10">
          <h1 class="font-signika md:text-1xl text-sm text-neutral-700">GET IN TOUCH </h1>
          <h1 class="font-signika text-2xl md:text-4xl text-center pb-10"><b>BOOK YOUR SHOOT NOW</b></h1>
          <div class="flex justify-center gap-20">
            <button>
              <a href="https://wa.me/<%=adminInfo.number%>?text=Hello%20from%20your%20website" target="_blank" class="animate-bounce flex items-center justify-center transition duration-300 hover:opacity-75 rounded-full bg-green-500 w-12 h-12">
                <svg fill="white" viewBox="0 0 24 24" class="w-8 h-8">
                  <path d="M24 11.7c0 6.45-5.27 11.68-11.78 11.68-2.07 0-4-.53-5.7-1.45L0 24l2.13-6.27a11.57 11.57 0 0 1-1.7-6.04C.44 5.23 5.72 0 12.23 0 18.72 0 24 5.23 24 11.7M12.22 1.85c-5.46 0-9.9 4.41-9.9 9.83 0 2.15.7 4.14 1.88 5.76L2.96 21.1l3.8-1.2a9.9 9.9 0 0 0 5.46 1.62c5.46 0 9.9-4.4 9.9-9.83a9.88 9.88 0 0 0-9.9-9.83m5.95 12.52c-.08-.12-.27-.19-.56-.33-.28-.14-1.7-.84-1.97-.93-.26-.1-.46-.15-.65.14-.2.29-.75.93-.91 1.12-.17.2-.34.22-.63.08-.29-.15-1.22-.45-2.32-1.43a8.64 8.64 0 0 1-1.6-1.98c-.18-.29-.03-.44.12-.58.13-.13.29-.34.43-.5.15-.17.2-.3.29-.48.1-.2.05-.36-.02-.5-.08-.15-.65-1.56-.9-2.13-.24-.58-.48-.48-.64-.48-.17 0-.37-.03-.56-.03-.2 0-.5.08-.77.36-.26.29-1 .98-1 2.4 0 1.4 1.03 2.76 1.17 2.96.14.19 2 3.17 4.93 4.32 2.94 1.15 2.94.77 3.47.72.53-.05 1.7-.7 1.95-1.36.24-.67.24-1.25.17-1.37"/>               
                </svg>
              </a>
            </button>
            <button class="send-button">
              <a href="/contact">
                <p class="send-text">Send an email</p>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" class="send-svg ml-4">
                <path class="path" transform="translate(100 100)" d="M56.8,-23.9C61.7,-3.2,45.7,18.8,26.5,31.7C7.2,44.6,-15.2,48.2,-35.5,36.5C-55.8,24.7,-73.9,-2.6,-67.6,-25.2C-61.3,-47.7,-30.6,-65.6,-2.4,-64.8C25.9,-64.1,51.8,-44.7,56.8,-23.9Z" fill="gray"></path>
              </svg>
              </a>
            </button>
          </div>
        </div>
        
      </section>
      
    </div>
  </div>

  
  <!-- Footer -->

<%- include("partials/footer") %>  
